@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

nav{
  color:black;
  background:white;
  padding: 10px;
  font-family: 'Anton', sans-serif;
  
}
  
.inventory{
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  align-items: center;
  
}

.mainHeader{
  height: 700px;
  background-image: url("./images/food.jpg");
  background-size:cover ;
  background-repeat: no-repeat;
}

.row{
  display: flex;
  justify-content: space-around;  
  

}
.coldPressed{
  border:2px solid blue;
  width: 500px;
  height: 500px;
  background-color: black;
  color: white;
}

.row img{
  height: 450px;
}

.CookingClasses{
  display: flex;
  justify-content: space-around;  
}


.CookingClasses img {
  border:3px solid blue;
  width:250px;
  height: 250px; 
}

.GoodWorks img {
  height: 300px;
  width:300px;
}

.Farmers img{
  height: 500px;
  width: 500px;
}
.CartTotal{
  border:1px solid green;
  width: 300px;
  display: flex;
  justify-content: center;
}
.Cart{
  border:4px solid pink;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
.rowImages{
  width: 300px;
  display:flex;
  
}
.rowWord{
  border: 3px solid Green;
  margin-bottom: 300px
}
.Deliveries img{
  width: 300px;
}
.OfficeCatering img{
  height:400px;
  width: 400px;
}